name: ci
on:
  push:
  pull_request:

env:
  GO_VERSION: '1.23'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: make test
      - run: make lint
